.slider {
    height: 100%;
    transform: rotate(15deg);
    overflow: visible;
    top: 10vh;

    .slider__wrapper {
        // transition: var(--transition)!important;
        will-change: transform;

        .slider__item {
            max-height: 75vh;
            overflow: hidden;
            cursor: pointer;

            border-radius: 30px;

            .slider__img {
                position: absolute;
                width: 300%;
                height: 100%;
                background-size: cover;
                left: -100%;

                // transition: var(--transition)!important;

                will-change: transform; // ram
            }
        }
    }
}



.slider_bg {
    z-index: 0;
    transform: rotate(-15deg)!important;
    top: -100vh;
    left: -10vh;

    opacity: .15;
    filter: saturate(1000) blur(800px);

    .slider__item {
        min-height: 100vh;
    }
}

