.slider {
    height: 100%;
    transform: rotate(15deg);
    overflow: visible;
    top: 10vh;

    .slider__wrapper {
        transition: var(--transition) !important;
        will-change: transform;
        margin-left: 200px;
        .slider__item {
            max-height: 75vh;
            overflow: hidden;
            cursor: pointer;
            transition: transform var(--transition), box-shadow var(--transition);

            border-radius: 30px;

            .slider__img {
                position: absolute;
                width: 300%;
                height: 100%;
                background-size: cover;
                left: -100%;

                transition: var(--transition) !important;

                will-change: transform; // ram
            }
        }
    }
}

.slider_bg {
    z-index: 0;
    transform: rotate(-15deg) !important;
    top: -100vh;
    left: -10vh;

    opacity: 0.15;
    filter: blur(120px) saturate(10);

    .slider__item {
        min-height: 100vh;
    }
}

.slider__item.opened {
    z-index: 2;
    transform: rotate(-15deg) scale(1.2);
    box-shadow: rgb(0, 0, 0, 0.75) 0 0 0 4000px;
}

.description {
    position: absolute;
    font-size: calc(var(--size-index) * 0.8);
    top: 20vh;
    left: 8vw;
    max-width: 30vw;

    .logo {
        font-size: calc(var(--size-index) * 3);
        font-weight: 900;
        display: inline-block;
        background: linear-gradient(45deg, DarkMagenta, Tomato, Violet);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
}
